@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root {
	--font-body: 'Rowdies', 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #2f1132;
	--color-bg-1: #170c1b;
	--color-bg-2: #170c1b;
	--color-theme-1: #960eff;
	--color-theme-1-dark: #6015e3;
	--color-theme-2: #f9ea0c;
	--color-theme-2-dark: #f9730c;
	--color-text: #fff;
	--color-text-button: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	font-size: 5pt;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			#2f1132bf 0%,
			#2f1132bf 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	color: var(--color-text-button);
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.psa--primary {
    background: rgb(255 165 14);
    background: linear-gradient(90deg, rgb(255 40 14) 0%, rgb(255 165 14) 100%);
    font-size: x-large;
    padding: 10px;
    border-radius: 30px;
    min-width: 7rem;
    border: 0px;
	margin-bottom: 1rem;
}

.psa--primary:hover {
    background: rgb(177 71 12);
    background: linear-gradient(90deg, rgb(170 10 44) 0%, rgb(177 71 12) 100%);
}

.psa--primary:active {
    background: rgb(255 176 66);
    background: linear-gradient(90deg, rgb(255 139 66) 0%, rgb(255 176 66) 100%);
}

.psa--secondary {
    background: rgb(81,14,255);
    background: linear-gradient(90deg, rgba(81,14,255,1) 0%, rgba(148,14,255,1) 100%);
    font-size: x-large;
    padding: 10px;
    border-radius: 30px;
    min-width: 7rem;
    border: 0px;
	margin-bottom: 1rem;
}

.psa--secondary:hover {
    background: rgb(55,10,170);
    background: linear-gradient(90deg, rgba(55,10,170,1) 0%, rgba(104,12,177,1) 100%);
}

.psa--secondary:active {
    background: rgb(135,66,255);
    background: linear-gradient(90deg, rgba(135,66,255,1) 0%, rgba(207,71,255,1) 100%);
}

/* ===== Game Page ===== */

.home-container {
    max-width: 800px;
	width: 100vw;
    position: relative;
}

.title {
    text-align: center;
    margin-top: 2rem;
}
.title > img {
	height: 20rem;
	margin-bottom: 3rem;
}

.tray-container {
    display: flex;
    justify-content: space-around;
}

.set-select-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
	justify-content: space-evenly;
}
.set-container {
	width: 30%;
}

.tutorial-button {
    position: absolute;
    right: 4rem;
    top: 14rem;
}
